* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
}

html {
  font-size: 10px;
  color: #ffffff;
  background: transparent;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff18ff,
    0 0 30px #ff18ff, 0 0 40px #ff18ff, 0 0 55px #ff18ff, 0 0 75px #ff18ff;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(./assets/background.jpg);
  background-repeat: repeat;
  background-size: 150% 150%;
  background-position: 0 0;
  animation: moverBackground 36s infinite alternate;
}

@keyframes moverBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 60% 0;
  }
  50% {
    background-position: 60% 60%;
  }
  75% {
    background-position: 0 60%;
  }
  100% {
    background-position: 0 0;
  }
}

h1 {
  font-size: 5rem;
}
#title {
  margin-bottom: 3rem;
  margin-top: 5rem;
  visibility: hidden;
  text-align: center;
}

#score {
  width: 73rem;
  height: 16rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 4rem;
  text-align: center;
  visibility: hidden;
  margin-bottom: -5rem;
  margin-top: -5rem;
}

#playerOne {
  width: 24.33rem;
}

#playerTwo {
  width: 24.33rem;
}
#playerScoreDraw {
  width: 24.33rem;
}

h2 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

#container {
  width: 85rem;
  height: 85rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  visibility: hidden;
}

.square {
  width: 23rem;
  height: 23rem;
  background-color: red;
  border-radius: 5%;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.9s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 8rem;
  color: #ffffff;
  background: rgba(33, 0, 249, 0.001); /* Semi-transparent background */
  backdrop-filter: blur(0.2rem); /* Blur effect on the background */
  -webkit-backdrop-filter: blur(0.2rem);
  border: #ff00bfab 0.2rem solid;
  text-shadow: 0 0 0.5rem #fff, 0 0 1rem #fff, 0 0 1.5rem #fff, 0 0 2rem #ff18ff,
    0 0 3rem #ff18ff, 0 0 4rem #ff18ff, 0 0 5.5rem #ff18ff, 0 0 7.5rem #ff18ff;
  box-shadow: 0 0 0.01rem #8969f5, 0 0 1rem #8969f5, 0 0 0.75rem #8969f5,
    0 0 1rem #410141, 0 0 1.5rem #410141, 0 0 2rem #410141, 0 0 2.25rem #410141,
    0 0 7.5rem #410141;
}

.flip {
  transform: rotate(360deg);
}

.blink {
  background: linear-gradient(60deg, #67004d, #ea0787, #61016b, #32017b);
  background-size: 200%;
  animation: animate3 5s infinite ease;
  box-shadow: 0 0 0.01rem #fff, 0 0 1rem #fff, 0 0 0.75rem #fff,
    0 0 1rem #ff18ff, 0 0 1.5rem #ff18ff, 0 0 2rem #ff18ff, 0 0 2.25rem #ff18ff,
    0 0 7.5rem #ff18ff;
}

#result {
  width: 73rem;
  height: 9rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}
#restart {
  display: inline-block;

  text-align: center;
  cursor: pointer;
  font-size: 4rem;
  visibility: hidden;
  animation: grow 2s infinite ease-in-out;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#note {
  position: absolute;
  top: 5rem;
  right: 5rem;

  font-size: 5rem;
  cursor: pointer;
  visibility: hidden;
}

.btn {
  display: inline;
  width: 45rem;
  text-align: center;
  line-height: 6rem;
  color: #fff;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 3rem;
  z-index: 1;
  cursor: pointer;
  padding: 2rem;
  box-shadow: 0 0 0.01rem #fff, 0 0 1rem #fff, 0 0 0.75rem #fff,
    0 0 1rem #ff18ff, 0 0 1.5rem #ff18ff, 0 0 2rem #ff18ff, 0 0 2.25rem #ff18ff,
    0 0 7.5rem #ff18ff;
}

#welcome {
  width: 75rem;
  height: 110rem;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  border: #ff18ff 1rem solid;
  border-radius: 5%;
  visibility: visible;
  margin-top: auto;
  margin-bottom: auto;
}

#welcomeH1 {
  width: 55rem;
  font-size: 8rem;
  text-align: center;
  display: inline-block;
}

.btn:hover {
  animation: animate 8s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
@keyframes animate3 {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes animate2 {
  0% {
    background-position: 0%;
    transform: scale(1);
  }
  50% {
    background-position: 25%;
    transform: scale(1.03);
  }
  100% {
    background-position: 5%;
    transform: scale(1);
  }
}

.btn:before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
}

@media (max-height: 1440px) {
  html {
    font-size: 9px;
  }
}

@media (max-height: 1080px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1440px) {
  html {
    font-size: 7px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 6.5px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 4.8px;
  }
  body {
    overflow-y: hidden;
    overflow-x: hidden;
    touch-action: none;
  }

  #onePlayerEasyButton {
    animation: animate2 1.7s infinite ease-in-out;
  }
  #onePlayerHardButton {
    animation: animate2 1.7s infinite ease-in-out;
    animation-delay: 0.5s;
  }
  #onePlayerHardButton {
    animation: animate2 1.7s infinite ease-in-out;
    animation-delay: 0.15s;
  }
  #twoPlayerButton {
    animation: animate2 1.7s infinite ease-in-out;
    animation-delay: 0.3s;
  }
}
